.main{
    background-color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: cyan;
    width: auto;
    border-radius: 75px;
    margin: 100px;
    padding: 70px;
}

.input{
    width: auto;
    height: auto;
    font-size: large;
}